<nav>
    <div class="nav-wrapper blue">
        <a href="/" class="brand-logo">Stubby Pencil Scoring</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="#">Update Profile</a></li>
        </ul>
    </div>
</nav>
<link rel="stylesheet" href="/stylesheets/kcs.css">

<h1 class="center">You made it to the profile page</h1>

{{#each profile}}

    <h1 class="center">{{game_name}}</h1>
    <img class="photos" src= {{image}} alt="user person" />

    <h1 class="center">{{first_name}}</h1> {{rounds.id}} {{label}}

{{/each}}

//create a game
