

<h1>you made it to the scorecard page</h1>

{{#each users}}
  <h1>{{first_name}} {{last_name}}</h1>
  <p>
    {{email}}
  </p>
  <img class="photos" src={{image}} alt="user person"/>
  <hr>
{{/each}}
{{label}}
{{#each rounds}}
{{round.id}}
//admin inserts scores...

{{/each}}
